@font-face{
    font-family: vazir;
    src: url("../font/Vazir.woff2")format("woff2");
   
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;

}

*,
*::after,
*::before {
box-sizing: inherit;  
}


body{

    font-family: Poppins;
    background-color: #080710;
    display: flex;
    justify-content: center;   /* وسط افقی */
    align-items: center;       /* وسط عمودی */
    height: 100vh;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.form{
    width: 300px;
    height: 400px;
    padding: 50px 35px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.13); 
    border: 2px solid rgba(255, 255, 255, 0.13)  ;
    backdrop-filter: blur(7px);
    
}
.h1{
    font-size: 32px;
    color: #fff;
    text-align: center;
}
.input{
    background: rgba(255, 255, 255, 0.07);
    height: 50px;
    font-size: 14px;
    width: 100%;
    color: #fff;
    padding: 0px 10px;
    border-radius: 5px;
    font-weight: 300px;
}

.text{
    color: #fff;
    font-size: 16px;
    margin-bottom: 0px;
}
.button{
    margin: 20px 0px;
    width: 100%;
    height: 35px;
    font-size: 16px;
    margin-top: 38px;

}
.circle{
 position: relative;
}

.circle_1{
   background: linear-gradient(#023e8a, #0077b6);
   width: 200px;
   height: 200px;
   border-radius: 100%;
   position: relative;
    top: -150px;
    left: 90px;
    z-index: -1;
   
}
.circle_2{
     background: linear-gradient(#e36414, #fb8b24);
    width: 200px;
    height: 200px;
    border-radius: 100%; 
    position: relative;
    top: 150px;
    left: 500px;
    z-index: -1;
    
}





